
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Palmer Williams</mat-card-title>
    <mat-card-subtitle>Co. Creator</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" >
  <mat-card-content>
    <p>
      Wanted to create a place for musicians and music lovers to connect.
    </p>
  </mat-card-content>

</mat-card>

<br>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Josiah Sanches</mat-card-title>
    <mat-card-subtitle>Co. Creator</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" >
  <mat-card-content>
    <p>
      About me
    </p>
  </mat-card-content>

</mat-card>

<br>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>David Nelson</mat-card-title>
    <mat-card-subtitle>Co. Creator</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" >
  <mat-card-content>
    <p>
      About me
    </p>
  </mat-card-content>

</mat-card>
