<mat-grid-list cols="3" rowHeight="350px">
  <mat-grid-tile class="devPics" id="devPic1" rowspan="2">
    <mat-card class="card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="header-image"></div> -->
        <mat-card-title>Palmer Williams</mat-card-title>
        <mat-card-subtitle>Co. Creator</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/ProfilePic.jpeg" />
      <mat-card-content>
        <p>
          Wanted to create a place for musicians and music lovers to connect.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="devPics" id="devPic2" rowspan="2">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Josiah Sanchez</mat-card-title>
        <mat-card-subtitle>Co. Creator</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/JosiahProfilepic.jpg" />
      <mat-card-content>
        <p>
          Im a musician in an out. Want and need a place to talk to other
          musicians and people about everything music.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="devPics" id="devPic3"  rowspan="2">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>David Nelson</mat-card-title>
        <mat-card-subtitle>Co. Creator</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/ProfilePic3.jpeg" />
      <mat-card-content>
        <p>
          My love for music runs deep and can't be confined to one genre.
          OpenMic is a great way to connect with other music lovers world-wide.
          It's going to produce many oppourtunities for people and I'm excited
          to be apart of it!
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--Email Link here...-->
  <mat-grid-tile colspan="3" rowspan=".5">
    <mat-card><p>Contact Us Via Email <a href="mailto:openmic211@gmail.com">openmic211@gmail.com</a></p></mat-card>
  </mat-grid-tile>
</mat-grid-list>
