<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form #logInForm="ngForm" (ngSubmit)="onLogIn(logInForm.value)" action="post">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput ngModel name="email" placeholder="Email" type="email">
        </mat-form-field>
<br>
        <mat-form-field class="example-full-width">
          <input matInput ngModel name="password" placeholder="Password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button type="submit" color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
