
.chatWindow, .chatWidowContainer, .form-feild {
  width: 100%;
}

.messageContainer{
  height: 475px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 100%;
}
