<div class="chatWindowContainer">
  <mat-card class="chatWindow">
    <!--This is the body where the messages will be rendered!!!-->
    <mat-card-content >
      <div class="messageContainer">
        <ul id="messages"></ul>
        <div class="anchor"></div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <!--This is the were the user will enter in the message they want to send!!!-->
    <mat-card-actions >
        <form  (ngSubmit)="onSendMsg()" class="form-field" id="form">
          <mat-form-field class="form-feild" class="window">
          <mat-label>Message...</mat-label>
          <input name="message" matInput type="text" [(ngModel)]="messageForm.message" />
          <button
            mat-button
            *ngIf="messageForm.message"
            matSuffix
            mat-icon-button
            type="submit"
            aria-label="Send"
          >
            <mat-icon>send</mat-icon>
          </button>
          <button
            mat-button
            *ngIf="messageForm.message"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="messageForm.message = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        </form>
    </mat-card-actions>
  </mat-card>
</div>
