<script src="/socket.io/socket.io.js"></script>
<div class="chatWindowContainer">
  <mat-card class="chatWindow">
    <!--This is the body where the messages will be rendered!!!-->
    <mat-card-content>
      <div>
        <ul id="messages"></ul>
      </div>
    </mat-card-content>
    <!--This is the were the user will enter in the message they want to send!!!-->
    <mat-card-actions>
        <mat-form-field class="form-field" id="form">
          <mat-label>Message...</mat-label>
          <input id="input" matInput type="text" [(ngModel)]="value" />
          <button
            mat-button
            *ngIf="value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="value = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          <button
            mat-button
            *ngIf="value"
            matSuffix
            mat-icon-button
            aria-label="Send"
          >
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
    </mat-card-actions>
  </mat-card>
</div>
