
.chatWindow, .chatWidowContainer, .form-feild {
  width: 100%;
  background-color: rgba(63, 15, 165, .3);
}

.window{
  background-color: white;
  padding: .5rem;
  width: 100%;
  border-radius: 5px;
}

.messageContainer{
  height: 475px;
}

.messageContainer {
  background-color:rgba(63, 15, 165, 0.3);
  background-size: 100%;
  padding: 1em;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 100%;
}
