
<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h1 class="w3-center">Jaxson Jones</h1>
         <p class="w3-center"><img src="assets/images/user1.jpg" alt="Jaxson" class="w3-circle" style="height:206px;width:206px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Guitar, Vocals, Piano</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> San Diego, CA</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>My Genres</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">Rock</span>
            <span class="w3-tag w3-small w3-theme-d4">Indie</span>
            <span class="w3-tag w3-small w3-theme-d3">Jazz</span>
            <span class="w3-tag w3-small w3-theme-d2">NuMetal</span>
            <span class="w3-tag w3-small w3-theme-d1">Blues</span>
            <span class="w3-tag w3-small w3-theme">Reggae</span>
            <span class="w3-tag w3-small w3-theme-l1">Gospel</span>
            <span class="w3-tag w3-small w3-theme-l2">Worship</span>
            <span class="w3-tag w3-small w3-theme-l3">Hip-Hop</span>
          </p>
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>My Jams</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">P.O.D.</span>
            <span class="w3-tag w3-small w3-theme-d4">Fight the Fury</span>
            <span class="w3-tag w3-small w3-theme-d3">dcTalk</span>
            <span class="w3-tag w3-small w3-theme-d2">NF</span>
            <span class="w3-tag w3-small w3-theme-d1">Twenty One Pilots</span>
            <span class="w3-tag w3-small w3-theme">Needtobreathe</span>
            <span class="w3-tag w3-small w3-theme-l1">Mat Kearney</span>
            <span class="w3-tag w3-small w3-theme-l2">Ben Rector</span>
            <span class="w3-tag w3-small w3-theme-l3">Skillet</span>
            <span class="w3-tag w3-small w3-theme-l3">Stryper</span>
            <span class="w3-tag w3-small w3-theme-l3">Hillsong</span>
            <span class="w3-tag w3-small w3-theme-l3">Sevin</span>
            <span class="w3-tag w3-small w3-theme-l3">Brenden McPeek</span>
            <span class="w3-tag w3-small w3-theme-l3">Black Narnia</span>
            <span class="w3-tag w3-small w3-theme-l3">Bizzle</span>
            <span class="w3-tag w3-small w3-theme-l3">Jimmy Needham</span>
            <span class="w3-tag w3-small w3-theme-l3">Jon Gibson</span>
          </p>
        </div>
      </div>
      <br>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <p contenteditable="true" class="w3-border w3-padding">Status: Ready to rock!</p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div>
        </div>
      </div>
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="assets/images/Sanchez.jpeg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1min</span>
        <h4>Josiah S.</h4><br>
        <hr class="w3-clear">
        <p>I saw you using this mic. What are your thoughts on it? I'm looking into buying one soon.</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="assets/images/mic.jpg" style="width:50%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
        </div>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Rock On!</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Reply</button> 
      </div>
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="assets/images/Williams.jpeg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
        <span class="w3-right w3-opacity">16min</span>
        <h4>Palmer W.</h4><br>
        <hr class="w3-clear">
        <p>It was good to see you at the show last night. I'll be at the next open mic in March. Let me know if you want to meet up between now and then.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Rock On!</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Reply</button> 
      </div>  

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="assets/images/IMG_8511.JPG" alt="David" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">3hrs</span>
        <h4>David N.</h4><br>
        <hr class="w3-clear">
        <p>Your music is awesome! Can't wait for the new album</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Rock On!</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Reply</button> 
      </div> 
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="assets/images/coffeeshop.jpeg" alt="Forest" style="width:100%;">
          <p><strong>Coffee Shop Open Mic</strong></p>
          <p>Friday @ 5:00pm</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script> 
      <div class="elfsight-app-d2448649-3a02-497d-a17a-15543d4717ae"></div> -->
      <br>
      
      <iframe width="210" height="200"
      src="https://www.youtube.com/embed/p-uGsUu_olM">
      </iframe>
      <br>
    
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
 